body{
    margin: 0;
}
/* css heart */
.container-header{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.heart {
    font-size: 60px;
    color: red;
    animation: heart-beat 1s ease-out infinite;
}
  
@keyframes heart-beat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.3);
    }
    28% {
        transform: scale(1);
    }
}
  
/* end css heart */
/* css active button volumn */
/* nav */
#nav{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
}

#nav ul li {
    list-style: none;
    margin: 15px;
}

.btn-nav{
    background: transparent;
    border: unset;
}
.btn-nav img{
    width: 40px;
    transition: all .2s ease-in-out;
    opacity: 0.6;
}

.btn-nav:active img{
    transform: scale(1.2);
    transition: .1s;
    opacity: 1;
}

/* music */
#music{
    display: none;
}
#btn-sound img{
    opacity: 0.3;
    position: relative;
}
#btn-sound {
    position: relative;
}
#btn-sound::after{
    content: '';
    width: 15px; height: 15px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
        background-color: #ff6e6e;
    }
    25%{
        opacity: 0.75;
        background-color: #feabab;  
    }
    50% {
        opacity: 0.5;
        background-color: aquamarine;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
        background-color: #fff;
        border: unset;
    }
}

@keyframes heart-beat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.3);
    }
    28% {
        transform: scale(1);
    }
}

/* end css active button volumn */

.content-text{
    display: flex;
    margin: 0px 5px;
    justify-content: center;
    position: fixed;
    top: 20vh;
    left: 20%;
}
.content-text h2{
    color: #fffc00;
    animation: heart-beat 1s ease-out infinite;
    text-align: center;
}

#wapper-container-box1{
    position: relative;
}

.content-message{
    top: 5vh;
    right: 2%;
    left: 2%;
    overflow-y: scroll;
    display: none;

    transition: .1s;
    animation: slidein 4.5s;
    position: absolute;
    z-index: 99;
    margin: 0 5%;
    width: calc(90% - 30px);
    min-height: 55vh;
    background-color: #ffffff85;
    padding: 15px;
    font-size: 16px;
    text-align: justify;
    border-radius: 30px;
    box-shadow: 1px 4px 5px #ffbcbc;
}

.wapper-content-image{
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 999;
    width: 100%;
    overflow: hidden;
}

@keyframes slidein {
    0%,
    20% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

.a-home{
	font-size: 40px;
    text-align: center;
    color: #f6ff4a;
    margin-bottom: 10px;
}

.wapper-content-image li{
    list-style: none;
    margin: 15px;
}

.wapper-content-image img{
    max-width: 100%;
    max-width: 150px;
    max-height: 200px;
}

.wapper-content-image ul
{
    display: flex;
    justify-content: start;
    flex-flow: row;
    align-items: center;
    animation: moving-text 10s linear infinite;
}
@keyframes moving-text {
    from {
        transform: translateX(10%);
    }
    to {
        transform: translateX(-180%);
    }
}
.container-header-val img{
    max-width: 100%;
    position: absolute;
    z-index: 999;
    width: 225px;
    margin: 0 25%;
    top: -56px;
    opacity: 0.6;
}
@media (max-width: 428px) {
    .wapper-content-image ul
    {
        /* max-width: 320px; */
    }

    .content-message{
        margin: 0 15px;
        width: calc(90% - 30px);
        min-height: 75vh;
    }

}

@media (max-width: 360px) {

}