
/* css heart */
.container-header{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.heart {
    font-size: 60px;
    color: red;
    animation: heart-beat 1s ease-out infinite;
}
  
@keyframes heart-beat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.3);
    }
    28% {
        transform: scale(1);
    }
}
  
/* end css heart */
/* css active button volumn */
/* nav */
#nav{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
}

#nav ul li {
    list-style: none;
    margin: 15px;
}

.btn-nav{
    background: transparent;
    border: unset;
}
.btn-nav img{
    width: 40px;
    transition: all .2s ease-in-out;
    opacity: 0.6;
}

.btn-nav:active img{
    transform: scale(1.2);
    transition: .1s;
    opacity: 1;
}

/* music */
#music{
    display: none;
}
#btn-sound img{
    opacity: 0.3;
    position: relative;
}
#btn-sound {
    position: relative;
}
#btn-sound::after{
    content: '';
    width: 15px; height: 15px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
        background-color: #ff6e6e;
    }
    25%{
        opacity: 0.75;
        background-color: #feabab;  
    }
    50% {
        opacity: 0.5;
        background-color: aquamarine;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
        background-color: #fff;
        border: unset;
    }
}
/* end css active button volumn */